#container{
    height:650px;
    width: 100%;
    border-style: solid;
}
#header{
    height: 60px;
    border-style: solid;
}
#outer{
    height: 530px;
    border-style: solid;
}
#outerleft{
    height: 100%;
    width: 25%;
    border-style: solid;
    float: left;
}
#outerright{
    height: 100%;
    width: 74.3%;
    border-style: solid;
    float:left;
}
#circle{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: auto;
    border-style: solid;
    margin-top: 16px;
}
#section{
    height: 50%;
    border-style: solid;
}